.button {
  background: hsl(var(--bg-button));
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow-lt);
  padding: var(--button-padding);
  transition: background 300ms ease, transform 300ms ease;
  outline: none;
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
}

.button:hover,
.button:focus {
  background: hsl(var(--clr-white));
  transform: scale(1.1);
}
