.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: var(--header-height);
  background: hsl(var(--bg-secondary));
  padding: var(--standard-padding);
  border: var(--standard-border);
  transition: top 100ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


